<!DOCTYPE html>
<html lang="en">
<head>
    <title>University Admission Predication</title>
    <link rel="stylesheet" href="../static/css/chance.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="content">
        <div>
            <img src="../static/img/partying.svg" alt="Result">
        </div>
        <div class="data">
            <h1>Congrats,  <span class="uname">{{name}}</span> </h1>
            <h2 class="result">You have a chance</h2><br>
            <a href="/" class="btn">Return Home ></a>
        </div>
    </div>
</body>
</html>