<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Admission Predication</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

</head>


<body>
    <div class="contents">
            <img src="../static/img/education.svg" class="img2" alt="Home" >
            <h2> University Admission Predication </h2>  <br>
            <a href="/details" class="btn">Get Started</a>
    </div>
</body>
</html>